<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="rot13.musicmagic">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:label="Music Magic">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
